html {
  background-color: var(--clr-bg);
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  /* font-family: 'PP Woodland', 'Noto Serif JP', 'Zen Maru Gothic', 'Noto Serif TC', serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 0.8px; */
  @apply font-sans text-gray-700 dark:text-gray-200 relative;
}

::selection {
  background: rgba(47, 94, 98, 0.25);
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--clr-primary-green);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

* {
  scrollbar-color: var(--clr-scrollbar) var(--c-bg);
}

.sponsorkit-avatar {
  cursor: pointer;
}
.sponsorkit-tier-title {
  font-weight: 600;
  font-size: 20px;
  fill: currentColor;
}
.sponsorkit-name {
  font-weight: 300;
  font-size: 15px;
  transform: translateY(8px);
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar:horizontal {
  height: 6px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--c-bg);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--clr-scrollbar);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--clr-scrollbar-hover);
}

h2 + p > em:first-child {
  opacity: 0.5;
  display: block;
  margin-top: -20px;
  font-size: 0.9em;
}

.dark [img-light] {
  display: none;
}

html:not(.dark) [img-dark] {
  display: none;
}

@keyframes slide-enter {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  html:not(.no-sliding) {
    [slide-enter],
    .slide-enter,
    .prose > article > div > *:not(:has(.table-of-contents)),
    .prose > header > *:not(:has(.table-of-contents)),
    .prose > div > *:not(:has(.table-of-contents)) {
      --enter-stage: 0;
      --enter-step: 90ms;
      --enter-initial: 0ms;
      animation: slide-enter 1s both 1;
      animation-delay: calc(var(--enter-initial) + var(--enter-stage) * var(--enter-step));
    }

    .prose {
      > article > div,
      > header,
      > div {
        > * {
          @for $i from 1 through 20 {
            &:nth-child(#{$i}) {
              --enter-stage: #{$i} !important;
            }
          }
        }
      }
    }
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 9999;
}
.dark::view-transition-old(root) {
  z-index: 9999;
}
.dark::view-transition-new(root) {
  z-index: 1;
}

/* Transitions */
.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(0.24rem) grayscale(0.8);
}

/* .layout-enter-active,
.layout-leave-active {
  transition: all 0.4s;
}
.layout-enter-from,
.layout-leave-to {
  opacity: 0;
  filter: blur(0.24rem) grayscale(0.8);
} */
