/* Shiki */
.dark .shiki,
.dark .shiki span {
  color: var(--s-dark, inherit);
  --twoslash-popup-bg: var(--p-color-bg-surface2, var(--clr-bg));
  --twoslash-border-color: var(--p-color-border, color-mix(in oklab, var(--clr-text) 24%, transparent));
}
.dark .shiki {
  background-color: var(--p-code-block-color-bg, var(--clr-bg));
}

html:not(.dark) .shiki {
  background-color: var(--p-code-block-color-bg, var(--clr-bg));
}

html:not(.dark) .shiki,
html:not(.dark) .shiki span {
  color: var(--s-light, inherit);
  --twoslash-popup-bg: var(--p-color-bg-surface2, var(--clr-bg));
}

/* Twoslash */
.twoslash ul {
  font-size: 1em !important;
}

.twoslash ul > li::before {
  display: none;
}

.twoslash ul > li {
  padding: 1px;
  margin: 0;
}

.twoslash-query-presisted .twoslash-popup-info {
  transform: translate(0, 1.6em);
}

a.item {
  transition: 0.2s all ease-out;
  text-decoration: none;
  border-bottom: none !important;
  opacity: 0.6;
}

a.item:hover {
  opacity: 1;
}

a.header-anchor {
  float: left;
  margin-top: 0.125em;
  margin-left: -1.2em;
  padding-right: 0.5em;
  font-size: 0.85em;
  opacity: 0;
  text-decoration: none;
  border: 0 !important;
}

a.header-anchor:hover,
a.header-anchor:focus {
  text-decoration: none;
}

h1:hover .header-anchor,
h1:focus .header-anchor,
h2:hover .header-anchor,
h2:focus .header-anchor,
h3:hover .header-anchor,
h3:focus .header-anchor,
h4:hover .header-anchor,
h4:focus .header-anchor,
h5:hover .header-anchor,
h5:focus .header-anchor,
h6:hover .header-anchor,
h6:focus .header-anchor {
  opacity: 0.5;
}
