:root {
  --clr-primary-green: #2f5e62;
  --clr-sub-green: #5a8588;
  --clr-bg-green: #cfe0e0;
  --clr-contrast-green: #d69e76;
  --clr-hover-green: #407074;
  --clr-bg: #f0f5f4;
  --clr-text: #2d3333;
  --clr-btn: #316064;
  --clr-btn-text: #ffffff;
  --clr-btn-hover: #457b80;
  --clr-btn-disabled: #b0c4c5;
  --clr-scrollbar: #e0e5e5;
  --clr-scrollbar-hover: #b0c4c5;
  --clr-underline: rgba(47, 94, 98, 0);
  --clr-underline-hover: #2f5e62;
  --clr-active-border: #d69e76;
  --swiper-navBtn: #2f5e62;
  --swiper-navBtnHover: #d69e76;
  --swiper-navBtnHoverBg: rgba(207, 224, 224, 0.8);

  --box-shadow:
    0px 0.7px 2.2px rgba(47, 94, 98, 0.02), 0px 1.7px 5.3px rgba(47, 94, 98, 0.028),
    0px 3.1px 10px rgba(47, 94, 98, 0.035), 0px 5.6px 17.9px rgba(47, 94, 98, 0.042),
    0px 10.4px 33.4px rgba(47, 94, 98, 0.05), 0px 24px 80px rgba(47, 94, 98, 0.07);
  --box-shadow-hover:
    0px 1.1px 1.4px rgba(47, 94, 98, 0.032), 2px 2.6px 3.5px rgba(47, 94, 98, 0.043),
    -2px 2.6px 3.5px rgba(47, 94, 98, 0.043), 4px 4.6px 6.5px rgba(47, 94, 98, 0.049),
    -4px 4.6px 6.5px rgba(47, 94, 98, 0.049), 7px 7.3px 11.6px rgba(47, 94, 98, 0.054),
    -7px 7.3px 11.6px rgba(47, 94, 98, 0.054), 11px 11.1px 21.7px rgba(47, 94, 98, 0.06),
    -11px 11.1px 21.7px rgba(47, 94, 98, 0.06), 17px 17px 52px rgba(47, 94, 98, 0.07),
    -17px 17px 52px rgba(47, 94, 98, 0.07);

  /* testing color */
  --clr-primary-transparent: rgba(196, 165, 141, 0.15);
  --clr-secondprimary: hsl(26, 32%, 70%);
  --clr-thirdprimary: hsl(26, 32%, 80%);
  --clr-Grayscaleprimary: hsl(26, 15%, 60%);
  --clr-Darkprimary: hsl(26, 30%, 55%);
  --clr-complementary: hsl(28, 50%, 64%);
  --clr-bgLight: hsl(0, 0%, 95%);
  --clr-bgGrey: hsl(0, 0%, 90%);
  --clr-black: hsl(0, 0%, 8%);
  --clr-black-transparent: hsla(0, 0%, 0%, 0.24);
  --clr-lightblack: hsl(0, 0%, 24%);
  --clr-grey: hsl(0, 0%, 40%);
  --clr-grey-transparent: hsla(0, 0%, 92%, 0.24);
  --clr-lightgrey: hsl(0, 0%, 81%);
  --clr-white: hsl(0, 0%, 92%);
  --clr-white-transparent: hsla(0, 0%, 92%, 0.1);
  --clr-alert: hsl(0, 61%, 53%);
  --clr-success: hsl(162, 46%, 30%);
}

/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */

html.dark {
  --clr-primary-green: #8ec6c9;
  --clr-sub-green: #6b8c8e;
  --clr-dark-green: #0e3c3e;
  --clr-bg-green: #316064;
  --clr-contrast-green: #e0cda8;
  --clr-hover-green: #427579;
  --clr-bg: #0b1415;
  --clr-text: #e6e6e6;
  --clr-btn: #316064;
  --clr-btn-hover: #427579;
  --clr-btn-text: #e6e6e6;
  --clr-btn-disabled: #2a3f41;
  --clr-scrollbar: #1a2628;
  --clr-scrollbar-hover: #2a3f41;
  --clr-underline: #e0e0e000;
  --clr-underline-hover: #8ec6c9;
  --swiper-navBtn: var(--clr-primary-green);
  --swiper-navBtnHover: var(--clr-btn-hover);
  --swiper-navBtnHoverBg: hsla(185, 30%, 20%, 0.81);

  --box-shadow:
    0px 0.7px 2.2px rgba(49, 96, 100, 0.05), 0px 1.7px 5.3px rgba(49, 96, 100, 0.06),
    0px 3.1px 10px rgba(49, 96, 100, 0.08), 0px 5.6px 17.9px rgba(49, 96, 100, 0.1),
    0px 10.4px 33.4px rgba(49, 96, 100, 0.12), 0px 24px 80px rgba(49, 96, 100, 0.15);

  --box-shadow-hover:
    0px 0.7px 2.2px rgba(142, 198, 201, 0.05), 0px 1.7px 5.3px rgba(142, 198, 201, 0.06),
    0px 3.1px 10px rgba(142, 198, 201, 0.08), 0px 5.6px 17.9px rgba(142, 198, 201, 0.1),
    0px 10.4px 33.4px rgba(142, 198, 201, 0.12), 0px 24px 80px rgba(142, 198, 201, 0.15);
}

.custom-btn-underline {
  --clr-underline: #ffffff00;
  --clr-underline-hover: var(--clr-sub-green);
}
